/* @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  font-family: "Lobster", Verdana, Geneva, Tahoma, sans-serif;
} */

.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}
.grid div {
  height: 20px;
  width: 20px;
  /* background-color: red; */
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: yellow;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}
